{% extends 'base.html' %}
{% block content %}
<form action="/detect_language" method="post">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
  </div>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <h1>Output</h1>
    {% if result %}
    <p>The above text is detected as {{ language }} with a confidence of {{ confidence }}</p>
    {% endif %}
{% endblock %}